.content {
    position: relative;
    z-index: 5;
}


h1 {
    margin: 0 79px 64px 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 0 0 20px;
}

.yellow {
    color: #FFDE00;
}

.maincontent {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}


.circle1 {
    height: 62px;
    width: 62px;
    background-color: #FF885E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}
.circle2 {
    height: 72px;
    width: 72px;
    border: 1px solid #FF885E;
    top: -66px;
    left: -5px;
}
.circle3 {
    height: 88px;
    width: 88px;
    border: 1px solid #FF885E;
    top: -145px;
    left: -13px;
}

.circlegroup {
    position: relative;
    border-radius: 100%;
    animation-name: stretch;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }

    50% {

    }

    100% {
        transform: scale(1);
    }
}

.profits {
}

@media (max-width: 770px) {
    h1 {
        margin: 0 0 20px;
        padding: 0 50px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    .maincontent {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 25%);
    }
    .textAndCircles {
        display: flex;
        justify-content: space-between;
    }
    .circlegroup {

    }
}
