.content {
    position: relative;
    z-index: 5;
}


h1 {
    margin: 0 79px 64px 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 0 0 20px;
}

.yellow {
    color: #FFDE00;
}

.maincontent {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}


.circle1 {
    height: 62px;
    width: 62px;
    background-color: #FF885E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}
.circle2 {
    height: 72px;
    width: 72px;
    border: 1px solid #FF885E;
    top: -66px;
    left: -5px;
}
.circle3 {
    height: 88px;
    width: 88px;
    border: 1px solid #FF885E;
    top: -145px;
    left: -13px;
}

.circlegroup {
    position: relative;
    border-radius: 100%;
    animation-name: stretch;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }

    50% {

    }

    100% {
        transform: scale(1);
    }
}

.profits {
}

@media (max-width: 770px) {
    h1 {
        margin: 0 42px 12px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
    }
    .org {
        padding-left: 9px;
        font-size: 24px;
        font-weight: 700;
    }
    h3 {
        padding: 0;
        font-size: 20px;
        font-weight: 650;
    }
    .maincontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textAndCircles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 96px;
    }
    .circleBox {
        position: relative;
    }
    .circle1 {
        position: absolute;
        left: 13px;
        top: 13px
    }
    .circle2 {
        position: absolute;
        left: 8px;
        top: 8px
    }
    .circle3 {
        top:0;
        bottom:0px;
        left: 0;
        right: 0px;
    }
}
