.mainpage {
    display: flex;
    justify-content: space-between;
    gap: 111px;
}

.rectangle {
    position: absolute;
    left: 236px;
    top: 133px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border: 5px solid #F8D008;
    opacity: 0.4;
}

.cross {
    position: absolute;
    bottom: 260px;
    left: 146px;
    width: 30px;
    height: 30px;
    opacity: 0.4;
}

.halfCross {
    position: absolute;
    width: 8.125px;
    height: 34.089px;
    transform: rotate(45deg);
    background-color: #6845AE;

}

.halfCross2 {
    position: absolute;
    width: 8.125px;
    height: 34.089px;
    transform: rotate(-45deg);
    background-color: #6845AE;
}

.photofont {
    position: absolute;
    top: 158px;
    right: 167px;
    z-index: 0;
}

.mainimg {
    z-index: 1;
    position: relative;
}

.petalsBot {
    z-index: 1;
    position: absolute;
    bottom: 180px;
    right: 867px;
}

.petalsTop {
    rotate: 180deg;
    right: 385px;
    top: 122px;
    z-index: 1;
    position: absolute;
}
.points {
    position: absolute;
    top: 120px
}


@media (max-width: 770px) {
    .rectangle,
    .photofont,
    .cross,
    .petalsBot,
    .petalsTop,
    .points {
        display: none;
    }

    .mainimg {
        display: block;
        max-width: 111px;
        height: 240px;
        object-fit: cover;
        object-position: left;
        position: absolute;
        bottom: 25px;
        right: 0;
    }
}