.profit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.profit::before {
    content: '';
    display: block;
    height: 3px;
    width: 120px;
    background: #FF885E;
    rotate: 90deg;
    position: absolute;
    top: 55px;
    left: -66px
}

.bigText {
    color: #C9C3F3;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.smallText {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
}

@media (max-width: 770px) {
    .profit {
        margin-left: 8px;
        padding: 0 0 26px;
    }
    .profit::before {
        width: 100px;
        top: 52px;
        left: -56px
    }
}