footer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background: linear-gradient(to bottom right, transparent 50%, #FF9D66 0%, #FF7256 100%);
}
@media (max-width: 770px) {
    footer {
        height: 5vh;
    }
}