footer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 25vh;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background: linear-gradient(90deg, #ff9d66 0%, #ff7256 100%);
}

@media (max-width: 770px) {
    footer {
        height: 5vh;
    }
}

@media (max-width: 350px) {
    footer {
        display: none;
    }
}